.radial-menu, .inner-menu {
  list-style-type: none;
  width: 170px;
  text-align: center;
  .inner-menu-item {
    cursor: pointer;
    -webkit-box-shadow: inset 0px 0px 21px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 21px -5px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 21px -5px rgba(0,0,0,0.75);
    position: relative;
    background: #eeeeee;
    color: #646464;
    padding: 11px 13px;
    border: 1px solid grey;
    .inner-menu {
      position: absolute;
      top: -1px;
      left: 130px;
    }
  }
}
.inner-menu {
    display: none;
}
.inner-menu-item.open-item > .inner-menu {
  display: block !important;
}
